* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  background: #181818;
  position: sticky;
  top: 0;
  z-index: 10;
}

.brand {
  font-size: 22px;
  font-weight: bold;
}

#themeBtn {
  border: 0;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

main {
  width: 100%;
  max-width: 750px;
  margin: auto;
  padding: 25px 16px;
}

h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.subtitle {
  color: #aaa;
  margin-top: 0;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #202020;
  padding: 14px;
  border-radius: 14px;
  margin: 25px 0;
}

.searchBox input {
  width: 100%;
  background: transparent;
  color: white;
  border: 0;
  outline: none;
  font-size: 16px;
}

.card {
  background: #181818;
  padding: 16px;
  border-radius: 18px;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle h2 {
  margin: 0;
}

.sectionTitle p {
  margin-top: 5px;
  color: #999;
}

iframe {
  width: 100%;
  height: 500px;
  border: 0;
  border-radius: 12px;
  margin-top: 12px;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 18px;
}

.feature {
  background: #181818;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.feature span {
  display: block;
  font-size: 25px;
  margin-bottom: 8px;
}

.feature b,
.feature small {
  display: block;
}

.feature small {
  color: #999;
  margin-top: 5px;
}

footer {
  text-align: center;
  color: #777;
  padding: 25px;
}

.light {
  background: #f4f4f4;
  color: #111;
}

.light header,
.light .card,
.light .feature {
  background: white;
}

.light .searchBox {
  background: white;
}

.light .searchBox input {
  color: #111;
}

@media (max-width: 600px) {

  h1 {
    font-size: 25px;
  }

  .features {
    grid-template-columns: 1fr;
  }

  iframe {
    height: 500px;
  }
}
